# Electron 镜像源
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/

# npm 镜像源
registry=https://registry.npmmirror.com

# sqlite3 镜像源
SQLITE3_BINARY_SITE=https://npmmirror.com/mirrors/sqlite3/

# 其他镜像源
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
